body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.grid-layout{
    /* GRID ON */
    display: grid;
    /* Columnas */
    grid-template-columns: 80% auto;
    /* Filas */
    grid-template-rows: 20% 10% 60% auto;
    /* Ajustar contenido o alinearlo donde te interese */
    /* justify-content: stretch; */
    height: 650px;
    /* width: 80%; */
    /* margin: 0 auto; */
    background-color: lightgreen;
    /* padding: 20px; */
    border: 1px solid black;
}

.caja{
    
    border: 4px solid black;
    background-color: lightgray;
    text-align: center;
    padding: 20px;
}

.c1{
    /* Espacio dentro del Grid */
    grid-column: 1 / span 2 ;
    background-color: lightblue;
}

.c2{
    grid-column: 1 / span 2;
    background-color: lightcoral;
}

.c3{
    background-color: lightgoldenrodyellow;
}

.c4{
    background-color: lightseagreen;
}

.c5{
    grid-column: 1 / span 2;
    background-color: lightpink;
}